<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <title>My Resume</title>
    <link rel="icon" type="image/x-icon" href="/static/icons/1.png">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <img src="/static/icons/house.svg" class="fs-4">
                            <span class="ms-1 d-none d-sm-inline">Resume</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img class="fs-4" src="/static/icons/speedometer2.svg"> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/sinewave" class="nav-link px-0"> <span class="d-none d-sm-inline">SineWave Noise</span></a>
                            </li>
                            <li>
                                <a href="/heartbeat" class="nav-link px-0"> <span class="d-none d-sm-inline">Heartbeat</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img class="fs-4" src="/static/icons/table.svg"></img> <span class="ms-1 d-none d-sm-inline">Tabulated View</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/tables/sinewave" class="nav-link px-0"> <span class="d-none d-sm-inline">Sine Wave</span></a>
                            </li>
                            <li>
                                <a href="/tables/heartbeat" class="nav-link px-0"> <span class="d-none d-sm-inline">Heart Beat</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Fourier Transform</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/transforms/sinewave" class="nav-link px-0"> <span class="d-none d-sm-inline">Sine Wave</span></a>
                            </li>
                            <li>
                                <a href="/transforms/heartbeat" class="nav-link px-0"> <span class="d-none d-sm-inline">Heart Beat</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/login" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Login</span> </a>
                    </li>
                    <li>
                        <a href="/api" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">API</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Welcome</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <!--
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <h1>Peter Lin</h1>
            <hr/>

            <a href="https://linkedin.com/in/ylpeterlin/">LinkedIn</a>

            <br/><br/>
            <img src="Portrait.jpeg" height="165" width="130px">

            <div>
                <h3>Education</h3>
                <b>Bachelor of Technology, Automation Engineering Technology</b>
                <p style="font-size:16px">McMaster University, Hamilton</p>
                <ul>
                    <li>
                        Currently in level four of integrated 4.5-year engineering-management
                        combined degree-diploma through McMaster University and Mohawk College
                    </li>
                    <li>
                        The business-management curriculum has dual accreditation,
                        globally with the Accreditation Council of Business Schools and Programs,
                        nationally with the Canadian Institute of Management
                    </li>
                    <li>
                        Will be awarded: Bachelor of Technology Degree,
                        Chemical Engineering Technology Advanced Diploma,
                        and Business Management Certificate
                    </li>
                </ul>
            </div>

            <div>
                <h3>Work Experience</h3>
                <b>Process Engineer Intern</b>
                <p style="font-size:16px">Mobile Climate Control, Mississauga</p>

            <ul>
                <li>
                    Assisted with the design, development, and optimization of manufacturing processes
                </li>
                <li>
                    Participated in team meetings and contributed to the development of new ideas and approaches
                </li>
            </ul>
            </div>
            <div>
            <ol>
                <li>

                </li>
            </ol>
            </div>

                Contact Me:
            <table border="1">
                <tbody>
                <tr><td>  <form>
                    <input name="Contact me" type="radio" required>Contact me</input>
                    <input type="text" id="name" name="name" required
                           minlength="4" maxlengtht="8" size="10">
                    <input type="checkbox" content="Send me an email">By Email?</input>
                    <button type="submit">Submit</button><button type="reset">Reset</button>
                </form>
                </td></tr>
                </tbody>
            </table>
                </div>
            </div>
        </div>

</body>
</html>
