<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Resume</title>
</head>
<body>
<h1>Peter Lin</h1>
<hr/>

<a href="https://linkedin.com/in/ylpeterlin/">LinkedIn</a>

<br/><br/>
<img src="Portrait.jpeg" height="165" width="130px">

<div>
    <h3>Education</h3>
    <b>Bachelor of Technology, Automation Engineering Technology</b>
    <p style="font-size:16px">McMaster University, Hamilton</p>
    <ul>
        <li>
            Currently in level four of integrated 4.5-year engineering-management
            combined degree-diploma through McMaster University and Mohawk College
        </li>
        <li>
            The business-management curriculum has dual accreditation,
            globally with the Accreditation Council of Business Schools and Programs,
            nationally with the Canadian Institute of Management
        </li>
        <li>
            Will be awarded: Bachelor of Technology Degree,
            Chemical Engineering Technology Advanced Diploma,
            and Business Management Certificate
        </li>
    </ul>
</div>

<div>
    <h3>Work Experience</h3>
    <b>Process Engineer Intern</b>
    <p style="font-size:16px">Mobile Climate Control, Mississauga</p>

<ul>
    <li>
        Assisted with the design, development, and optimization of manufacturing processes
    </li>
    <li>
        Participated in team meetings and contributed to the development of new ideas and approaches
    </li>
</ul>
</div>
<div>
<ol>
    <li>

    </li>
</ol>
</div>

    Contact Me:
<table border="1">
    <tbody>
    <tr><td>  <form>
        <input name="Contact me" type="radio" required>Contact me</input>
        <input type="text" id="name" name="name" required
               minlength="4" maxlengtht="8" size="10">
        <input type="checkbox" content="Send me an email">By Email?</input>
        <button type="submit">Submit</button><button type="reset">Reset</button>
    </form>
    </td></tr>
    </tbody>
</table>


</body>
</html>
