{% extends 'base.html' %}
{% load static %}

{% block heading_content %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" crossorigin="anonymous" type="text/css">
{% endblock %}


{% block content %}

    <head>
        <img src="{% static 'images/Profile.jpg' %}" height="182" width="137" style="float:left">
        <h1><i><br>&nbsp&nbsp&nbsp&nbsp Curtis Poon</i></h1>
        <br>

    </head>

    <body>
    <div>


        <h2 style="clear:both">&nbsp Education</h2>
        <hr>
        <table style="width: 85%">
            <thead>
            <tr>
                <td colspan=3 style="font-size:18px">
                    <u>McMaster University</u>
                </td>
            </tr>
            </thead>
            <tr>
                <td colspan="2">
                    <b>Bachelor of Technology, <br>
                        Automation Engineering Technology
                    </b>
                </td>
                <td style="text-align:right">
                    <b>Expected Completion, 2024</b>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul>
                        <li>
                            Achieved a cumulative grade point average of 3.5 on a 4.0 scale across
                            all semesters
                        </li>
                        <li>
                            Currently enrolled in Level 4 of an integrated 4.5-year joint program
                            with <br>McMaster University and Mohawk College
                        </li>
                    </ul>

                </td>
            </tr>

            <tr>
                <td colspan="2" style="font-size: 18px">
                    <br>
                    <u>Bayview Secondary School</u>
                </td>
                <td style="text-align: right">
                    <br>
                    <b>2015 - 2019</b>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    - Graduated and received the Ontario Secondary School Diploma (OSSD)
                </td>
            </tr>


        </table>

        <br>
        <h2>Work</h2>
        <hr>
        <table style="width: 85%">
            <tr>
                <td colspan="3" style="font-size: 18px">
                    <b><i>Junior Programmer</i></b>
                </td>
            </tr>
            <tr>
                <td>
                    <u><a href="https://www.ontario.ca/page/ministry-health"> Ministry of Health Ontario, North York</a></u>
                </td>
                <td colspan="1" style="text-align: right">
                    <b>Jan 2022 – Sept 2022</b>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul>
                        <li>
                            Assisted in database migration from Oracle to MySQL
                        </li>
                        <li>
                            Worked in a team environment developing metadata for hospital forms,
                            familiarizing myself with the <br>process of vetting, developing, and testing
                        </li>
                        <li>
                            Created multiple reports connected to SQL databases to show live data using Power BI
                        </li>
                    </ul>

                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: 18px">
                    <br>
                    <b><i>Teacher's Assistant</i></b>
                </td>

            </tr>
            <tr>
                <td>
                    <u><a href="https://spiritofmath.com/"> Spirit of Math, Markham, ON</a></u>
                </td>
                <td colspan="1" style="text-align: right">
                    <b>2017 - 2018</b>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul>
                        <li>
                            Spent extra time carefully explaining concepts to students who were confused
                        </li>
                        <li>
                            Graded student assignments and quizzes
                        </li>
                        <li>
                            Filled in for teachers when they were sick or absent
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="1" style="font-size: 18px">
                    <br>
                    <b><i>Lifeguard</i></b>
                </td>
                <td colspan="1" style="text-align: right">
                    <b>May 2017 - Aug 2017</b>
                </td>
            </tr>
            <tr>
                <td>
                    <u><a href="https://jobs.goodlifefitness.com/"> GoodLife Fitness, Markham, ON</a></u>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul>
                        <li>
                            Monitor people swimming in the pool for safety
                        </li>
                        <li>
                            Prevent drowning and other injuries that may occur
                        </li>
                        <li>
                            Giving advice to those who are new to swimming
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

        <br>
        <h2>Hobbies</h2>
        <hr>
        <u style="font-size: 18px">Hobbies</u><br>
        One of my hobbies that I like to do in my free time is playing video games.
        While it is quite an unoriginal answer, there is a reason why many people find it so entertaining.
        It is a great way for me to de-stress and experience beautiful storytelling and gameplay. Some of my favorite
        games are:
        <ol>
            <li>
                Elden Ring
            </li>
            <li>
                Skyrim
            </li>
            <li>
                Dishonored
            </li>
            <li>
                League of Legends
            </li>
        </ol>
        <br>
        <u style="font-size: 18px">Interests</u><br>
        Aside from my hobbies, I do have many things that I am interested in. One of the things I am interested in is
        fitness. While I do like to play games,
        I also like to exercise. Here are some of my favorite sports/activities in order:
        <ol>
            <li>
                Swimming
            </li>
            <li>
                Going to the gym
            </li>
            <li>
                Running
            </li>
            <li>
                Basketball
            </li>
        </ol>
        <br>
        <u style="font-size: 18px">Professional Associations</u><br>
        In regards to professional associations, I do not have much experience with them. I am interested in the
        Automation career path, so perhaps
        I could be a part of an Automation association further down the line.

        <br>
        <br>
        <u style="font-size: 18px">Clubs</u><br>
        So far, ever since elementary school I have not joined a club. I never saw the appeal to joining a club since
        I am not a very social person. I have however joined a swim team throughout highschool, and during that time I
        made
        provincial standards.

    </div>
    </body>

    <br>
    Contact Me:
    <table border="1">
        <tbody>
        <tr>
            <td>
                <form>
                    <input name="ContactMe" type="radio" content="Contact Me" required>Contact Me</input>
                    <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
                    By Email?</input>
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}